@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');


.modalBody {
  text-align: center;
}

.modalTitle {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.banner {
  /* background: url("../assets/images/banner1.jpeg") no-repeat 0px 0px; */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/images/banner1.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 470px;
  background-repeat: no-repeat;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.banner-text {
  padding-top: 40vw;
  text-align: center;
}

.banner-text p{
  font-size: 2rem;
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

.banner-text button{
  margin-top: 22vw;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.foodHeading {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 27px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.play-icon {
  margin-left: 8px;
}

.music-playing {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 30px;
  margin-top: 20px;
}




@media screen and (min-width: 520px) and (max-width: 720px){

  .banner {
    background-position: 0px;
  }

  .banner-text {
    padding: 23.5vw 0;
  }

  .banner-text p{
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  }

  .banner-text button{
    margin-top: 3vw;
  }
  
}

@media screen and (min-width: 720px) {

  .banner {
    background-position: 0px;
  }

  .banner-text {
    padding: 10.5vw 0;
  }

  .banner-text p{
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  }

  .banner-text button{
    margin-top: 3vw;
  }
  
}

@media screen and (min-width: 1280px) {

  .banner {
    background-position: 0px;
  }

  .banner-text {
    padding: 10.5vw 0;
  }


  .banner-text p{
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  }

  .banner-text button{
    margin-top: 1vw;
  }
  
}
